<?xml version='1.0' encoding='utf-8'?>
<widget id="com.captvatorium.universe" version="1.0.0" xmlns="http://w3.org" xmlns:cdv="http://apache.org">
    <name>Captvatorium Universe</name>
    <description>Jogo de caça-palavras temático.</description>
    <author email="dev@captvatorium.com" href="http://cordova.io">Junior das Ias</author>
    <content src="index.html" />
    <icon src="www/capa.jpg" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SuppressesLongPressGesture" value="false" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
</widget>
